h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 30px;
    
}
.column {
    float: left;
    width: 33.33%;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 18px
}

.abc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 25px
}

.def{
    font: verdana
    color: rgb(77, 77, 77);
    font-size: 20px;
    font-style: bold;
}
    

img {
    border-radius: 25%;

}
